@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root {
    --green: rgb(1, 194, 1);
    --red: rgb(255, 51, 0);
    --blue: rgb(0, 110, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    cursor: url('../assets/textures/cursor.png') 12 12, auto;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: white;
    font-size: 3em;
}

.toolbar {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 10px var(--blue);
}

.turn {
    font-size: 2em;
}

.action {
    margin: 0 1em;
    font-size: 2em;
    color: var(--blue);
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
}

.notifier {
    text-align: center;
    position: fixed;
    top: 120px;
    right: 5%;
    padding: .5em 2em;
    height: 60px;
    z-index: 20;
    border-radius: 5px;
    color: white;
    border: 2px solid var(--green);
    color: var(--green);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Consolas', sans-serif;
    font-weight: bold;
    display: none;
    animation: flash-good 1s infinite;
}

@keyframes flash-good {
    0% {
        background: transparent;
        color: var(--green);
    }

    49% {
        background: transparent;
        color: var(--green);
    }

    50% {
        background: var(--green);
        color: black;
    }

    100% {
        background: var(--green);
        color: black;
    }
}

@keyframes flash-bad {
    0% {
        background: transparent;
        color: var(--red);
    }

    49% {
        background: transparent;
        color: var(--red);
    }

    50% {
        background: var(--red);
        color: black;
    }

    100% {
        background: var(--red);
        color: black;
    }
}


.end-screen {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.end-alert {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    color: var(--green);
    font-size: 3em;
    padding: 2em;
    font-weight: bold;
    font-family: 'Consolas', sans-serif;
    background: black;
    border: 2px solid var(--green);

}

.end-alert a {
    cursor: inherit;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid var(--green);
    padding: 10px 20px;
    border-radius: 20px;
    transition: filter .3s ease-in-out;
}

.end-alert a:hover {
    filter: blur(3px);
}

.end-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
}

.nicks {
    font-size: 2em;
}

.player-nick {
    color: var(--green);
    text-shadow: 1px 1px 5px var(--green);
}

.enemy-nick {
    color: var(--red);
    text-shadow: 1px 1px 5px var(--red);
}

.vs {
    color: var(--blue);
}

.loading {
	position: relative;
	width: 10rem;
	height: 10rem;
	transform-style: preserve-3d;
	perspective: 800px;
}

.loading .text {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
}

.loading .arc {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-bottom: 10px solid hsl(196, 76%, 60%);
}

.loading .arc:nth-child(1) {
	animation: rotate1 1.15s linear infinite;
}

.loading .arc:nth-child(2) {
	animation: rotate2 1.15s linear infinite;
}

.loading .arc:nth-child(3) {
	animation: rotate3 1.15s linear infinite;
}

.loading .arc:nth-child(1) {
	animation-delay: -0.8s;
    border-color: var(--blue);
}

.loading .arc:nth-child(2) {
	animation-delay: -0.4s;
    border-color: var(--red);
}

.loading .arc:nth-child(3) {
	animation-delay: 0s;
    border-color: var(--green);
}

@keyframes rotate1 {
	from {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}

	to {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
	}
}

@keyframes rotate2 {
	from {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	}

	to {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
	}
}

@keyframes rotate3 {
	from {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	}

	to {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
	}
}

@import url(https://fonts.googleapis.com/css?family=Rajdhani:300);

.button{
  cursor: url('../assets/textures/cursor.png') 12 12, auto;
  position: relative;
  width: 240px;
  background: rgba(0, 190, 190, 0.2);
  border: 1px solid var(--blue);
  margin: 20px;
  padding: 5px 27px;
  color: var(--blue);
  font-weight: 500;
  transition: .3s;
  text-transform: uppercase;
  font-size: 24px;
  overflow: hidden;
  outline: none;
  font-family: 'Rajdhani', sans-serif;
}

.button:before, .button:after{
  content: "";
  position: absolute;
  height: 25px;
  width: 20px;
  background: var(--blue);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.button:before{
  left: -20px;
}
.button:after{
  right: -20px;
}
.button:hover{
    box-shadow: 0 0 25px var(--blue), 0 1px 5px #212121;
    border-color: var(--blue);
    background:  rgba(0, 190, 190, 0.2);
    color: rgba(33, 33, 33, 0.7);
}
.button:hover:before{
  animation: leftbox 1s forwards;
}
.button:hover:after{
  animation: rightbox 1s forwards;
}
@keyframes leftbox {
  0%{
    left: -22px;
  }
  50%{
    height: 30px;
    width: 30px;
  }
  100%{
    height: 200%;
    width: 150%;
  }
}
@keyframes rightbox {
  0%{
    right: -22px;
  }
  50%{
    height: 30px;
    width: 30px;
  }
  100%{
    height: 200%;
    width: 150%;
  }
}

.nick {
    font-family: 'Montserrat';
    color: var(--blue);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.wins {
    font-family: 'Montserrat';
    color: var(--green);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-200%);
}

.defeats{
    font-family: 'Montserrat';
    color: var(--red);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(60%);
}

.ratio {
    font-family: 'Montserrat';
    color: var(--blue);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
